/* 오리지널css */
.filter-sidebar-left {
    margin-bottom: 20px;
}
.title-left {
    font-size: 16px;
    border-bottom: 3px solid #000000;
    margin-bottom: 20px;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}
.list-group-item {
    border: none;
    padding: 4px 10px;
    font-size: 12px;
}
.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.list-group-tree .list-group-collapse .list-group {
    margin-left: 15px;
    /* border-left: 1px solid #ced4da; */
}
.list-group-tree .list-group-item.active {
    color: #b0b435;
    background-color: #fff;
    font-weight: 700;
}
.title .btn {
    float: right;
    font-size: 12px;
    color: #45a049;
    border: 1px solid #45a049;
    box-sizing: border-box;
    padding: 4px 6px;
    background: #fff;
    margin-top: 3px;
}
/* /오리지널css */
/* 외부css(영풍문고) */
.p-t-55, .p-tb-55, .p-all-55 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.p-b-33, .p-tb-33, .p-all-33 {
    padding-bottom: 10px;
}
.bor18 {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 5px;
}
.Rtxt {
    text-align: right;
    padding-right: 2px;
    float: right;
}
.orange{
    color: red;
}
.bor18:first-child {
    border-top: 1px solid black;
    /* border-bottom: 1px solid #e6e6e6; */
}
.p-b-8, .p-tb-8, .p-all-8 {
    padding-bottom: 1px;
}
.con {
    margin: 25px 0;
}
table {
    border-collapse: collapse;
}
.title {
    overflow: hidden;
    margin-bottom: 10px;
}
.title h3 {
    display: inline-block;
    font-size: 15px;
    color: #3a3a3a;
    /* float: left; */
    padding-top: 6px;
    font-family: Poppins-Bold;
    line-height: 1.333333;
}
.mp_table th {
    background: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    /* border: 1px solid #dcdcdc; */
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.mp_table td {
    background: #fff;
    padding: 8px 10px;
    /* border: 1px solid #dcdcdc; */
    box-sizing: border-box;
    font-size: 13px;
    vertical-align: middle;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.center {
    text-align: center;
}
.blue {
    color: #295b37 !important;
}
/* /외부css(영풍문고) */
/* 커스텀css */
.title .btn {
    float: right;
    background-color: white; /* 배경색을 흰색으로 설정 */
    color: #285a35; /* 글자색을 초록색으로 설정 */
    border: 1px solid #285a35; /* 테두리를 초록색으로 설정 */
    padding: 5px 20px; /* 안쪽 여백 설정 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    font-size: 12px; /* 글꼴 크기 */
    margin: 4px 2px; /* 바깥쪽 여백 설정 */
    cursor: pointer; /* 커서 포인터로 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
}
.title .btn:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
    color: white; /* 호버 시 글자색 변경 */
    border: 1px solid #285a35; /* 호버 시 테두리 색 변경 */
}
.button {
    background-color: #285a35; /* 초록색 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 흰색 글꼴 */
    padding: 5px 20px; /* 안쪽 여백 설정 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    display: inline-block; /* 인라인 블록 요소 */
    font-size: 12px; /* 글꼴 크기 */
    margin: 4px 2px; /* 바깥쪽 여백 설정 */
    cursor: pointer; /* 커서 포인터로 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
}
.button:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
}
.opposite-button {
    background-color: white; /* 배경색을 흰색으로 설정 */
    color: #285a35; /* 글자색을 초록색으로 설정 */
    border: 1px solid #285a35; /* 테두리를 초록색으로 설정 */
    padding: 5px 20px; /* 안쪽 여백 설정 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    display: inline-block; /* 인라인 블록 요소 */
    font-size: 12px; /* 글꼴 크기 */
    margin: 4px 2px; /* 바깥쪽 여백 설정 */
    cursor: pointer; /* 커서 포인터로 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
}
.opposite-button:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
    color: white; /* 호버 시 글자색 변경 */
    border: 1px solid #45a049; /* 호버 시 테두리 색 변경 */
}
/* /커스텀css */