<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bottom.css' %}">
</head>
<body>
    <!-- Footer -->
    <footer class="bg3 p-t-6 p-b-32">
        <div class="container">
            <!-- 회사소개 이용약관 개인정보처리방침 청소년보호정책 -->
            <div class="row">
                <div class="flex-w h-full stext-115 p-tb-10">
                    <a href="#" class="flex-c-m trans-04 p-lr-25 cl0">
                        회사소개
                    </a>
                    |
                    <a href="{% url 'com_intro' %}" class="flex-c-m trans-04 p-lr-25 cl0">
                        이용약관
                    </a>
                    |
                    <a href="#" class="flex-c-m trans-04 p-lr-25 cl0">
                        개인정보처리방침
                    </a>
                    |
                    <a href="#" class="flex-c-m trans-04 p-lr-25 cl0">
                        청소년보호정책
                    </a>
                </div>
            </div>
            <!-- 로고&회사소개&고객센터 -->
            <div class="row" style="text-align: left;">
                <div class="col-sm-6 col-lg-8 p-b-50 btm-info">
                    <!-- 로고 -->
                    <a href="{% url 'main' %}" class="logo-b p-lr-12">
                        <img src="{% static 'images/icons/Logo-2.png' %}" alt="IMG-LOGO">
                    </a>
                    <!-- 간략회사소개 -->
                    <h4 class="mtext-108 cl0 p-b-12">
                        (주) 북스테이션
                    </h4>
                    <span>대표이사 조영훈</span> |
                    <span>서울특별시 강남구 역삼동 819-10 세경빌딩3층</span> |
                    <span>사업자 등록 번호 : 123-45-67890</span>
                    <br>
                    <span>대표 전화 : 02-123-4567</span> |
                    <span>FAX : 02-987-6543</span> |
                    <span>E-mail : bookstation@gmail.com</span>
                </div>
                <div class="col-sm-6 col-lg-4 p-b-50 bottom-faq">
                    <h4 class="mtext-108 cl0 p-b-12">
                        고객센터 1577-1577
                    </h4>
                    <div class="p-tb-8 cl0">서울특별시 강남구 역삼동 819-10 세경빌딩3층</div>
                    <a href="{% url 'customer_service' %}" class="flex-c-m stext-101 cl0 size-105 bg-none bor4 hov-btn1 p-lr-15 trans-04">
                        고객센터
                    </a>
                    <a href="{% url 'notice' %}" class="flex-c-m stext-101 cl0 size-105 bg-none bor4 hov-btn1 p-lr-15 trans-04">
                        공지사항
                    </a>
                </div>
            </div>
            <!-- 저작권 표시 -->
            <div class="p-t-40">
                <!-- 저작권 -->
                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
